<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>templates</param-value>
    </context-param>
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>index.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.static.authors</param-name>
        <param-value>Alexandru Anghel, Marco Croce</param-value>
    </context-param>
    <context-param>
        <param-name>view.encoding</param-name>
        <param-value>ISO-8859-1</param-value>
    </context-param>
    <context-param>
        <param-name>data.jdbc.driver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>data.jdbc.connectionstring</param-name>
        <param-value>jdbc:mysql://localhost/auleweb?serverTimezone=Europe/Rome</param-value>
    </context-param>
    <context-param>
        <param-name>data.jdbc.username</param-name>
        <param-value>aulewebsite</param-value>
    </context-param>
    <context-param>
        <param-name>data.jdbc.password</param-name>
        <param-value>aulewebpass</param-value>
    </context-param>
    <context-param>
        <param-name>data.source</param-name>
        <param-value>jdbc/auleweb</param-value>
    </context-param>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.auleweb.controller.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.auleweb.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.auleweb.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EventiAttualiServlet</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.auleweb.controller.EventiAttualiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventiAttualiServlet</servlet-name>
        <url-pattern>/attuali</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.auleweb.controller.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuleAdminServlet</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.auleweb.controller.AuleAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuleAdminServlet</servlet-name>
        <url-pattern>/auleadmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EventiAdminServlet</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.auleweb.controller.EventiAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventiAdminServlet</servlet-name>
        <url-pattern>/eventiadmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GruppiAdminServlet</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.auleweb.controller.GruppiAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GruppiAdminServlet</servlet-name>
        <url-pattern>/gruppiadmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.auleweb.controller.UploadServlet</servlet-class>
        <multipart-config>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EventiGiornoServlet</servlet-name>
        <servlet-class>it.univaq.f4i.iw.ex.auleweb.controller.EventiGiornoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventiGiornoServlet</servlet-name>
        <url-pattern>/giorno</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/auleweb</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
